---
import TituloModulo from "../DS/TituloModulo.astro";
import ProductoCard from "./ProductoCard.astro";
import { slugify } from "../../utils/slugify.ts";
import type { Producto } from "../../types/General.type";

interface Props {
  categoria: string;
  productos: Producto[];
}

const { categoria, productos } = Astro.props as Props;

const productosCategoria = productos?.filter(
  (item) => item.categoria.nombre === categoria,
);

const impar = (index: number) => {
  if (productosCategoria.length % 2 !== 0) {
    const ultimo = productosCategoria.length - 1;
    return ultimo === index ? "w-full" : "w-[48%]";
  } else {
    return "w-40";
  }
};
---

<TituloModulo titulo={categoria} alias={slugify(categoria)} />
<section class="flex justify-center gap-3 flex-wrap mx-3">
  {
    productosCategoria?.map((producto, index) => (
      <ProductoCard
        producto={producto}
        css={`
          ${impar(index)}
        `}
      />
    ))
  }
</section>
