---
import Coment from "../../SVG/Coment";
---

<a
  href="https://www.facebook.com/tiendalaemiliana/reviews"
  target="_blank"
  class="bg-green-500 text-white flex items-center p-5 gap-1 font-semibold rounded-xl"
 
>
 
<div><h2>¿Qué te parece nuestro servicio?</h2>
<h2 class="font-bold text-neutral-900">Opina en nuestra página de Facebook</h2></div>
</a>
