---
interface Props {
  alias: string;
}
const { alias } = Astro.props;
---

<div class="absolute top-1 left-2 z-10 size-8">
  <button
    title="Compartir"
    onclick={`navigator.share({
      title: 'La Emiliana',
      text: 'Mira este producto de La Emiliana 👇',
      url: 'https://www.tiendalaemiliana.com/productos/${alias}'
    })`}
    class="text-xs bg-green-100 rounded-lg p-1 cursor-pointer"
  >
    <img class="size-8" src="/svg/share.svg" alt="Compartir" />
  </button>
</div>
