---
import BotonOpininFB from "./BotonOpininFB.astro";
---

<div class="flex items-center justify-between mx-2 my-5">
  <div class="bg-green-500 w-48 rounded-br-xl rounded-tr-xl">
    <h2 class="ml-1 font-bold text-2xl">Nuestras Redes</h2>
  </div>
</div>

<div class="w-full flex justify-center p-2 bg-green-500 rounded-xl">
  <iframe
    class="w-full rounded-xl"
    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftiendalaemiliana&tabs=timeline"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
  ></iframe>
  <BotonOpininFB/>
</div>
