---
import { productos } from "../../productos";
import type { Producto } from "../../types/General.type";
import { getRandomElements } from "../../utils/ramdom";
import DestacadoCArd from "./DestacadoCArd.astro";
const tienen = productos.filter((item) => item.agotado === false);
const flan = productos.find((item) => item.nombre.includes("Flan")) as Producto;
const ramdoms = getRandomElements(tienen, 2);
const destacados = [flan, ...ramdoms];
---

<section class="bg-green-500 p-2 mt-5 pr-0">
  <div class="flex justify-between items-center p-2">
    <h2 class="font-bold text-2xl">Destacados</h2>
    <a href="/categoria/destacados"><h2 class="text-xs">Ver todos</h2></a>
  </div>
  <section class="flex gap-5 overflow-x-scroll w-full">
    <div class="flex gap-3 pb-3">
      {destacados.map((producto) => <DestacadoCArd producto={producto} />)}
    </div>
  </section>
</section>
