---
import type { Categoria } from '../../types/General.type';

interface Props {
  categoria: Categoria;
}

const { categoria } = Astro.props as Props;
---


<button title={categoria.nombre}> <img
    class="size-20 rounded-xl object-cover"
    src={`images/productos/${categoria.image}`}
    alt={categoria.nombre}
  /></button>