<section class="flex ml-28 mr-3 gap-2   mt-5">
  <div class="flex items-center border border-neutral-200 rounded-xl">
    <img class="size-6" src="/svg/Search.svg" alt="Buscar" />
    <input class="w-full" type="text" placeholder="Buscar productos..." />
  </div>
  <button
    class="bg-green-500 size-10 rounded-xl flex justify-center items-center"
    ><img class="size-6" src="/svg/Cart.svg" alt="Carrito" /></button
  >
</section>

