---

---

<section
  class="bg-green-500 h-14 sticky w-full bottom-0 flex gap-3 items-center justify-center z-50 pb-5 mt-10"
>
  <a href="/admin/">
    <div class="flex flex-col items-center">
      <div
        class="bg-[#FFC20E] rounded-xl size-10 flex justify-center items-center"
      >
        <img class="size-8" src="/svg/home.svg" alt="Productos" />
      </div>

      <h2 class="text-white text-xs">Panel</h2>
    </div>
  </a>
  <a href="/admin/productos">
    <div class="flex flex-col items-center">
      <div
        class="bg-[#FFC20E] rounded-xl size-10 flex justify-center items-center"
      >
        <img class="size-8" src="/svg/productos.svg" alt="Productos" />
      </div>

      <h2 class="text-white text-xs">Productos</h2>
    </div>
  </a>

  <a href="/admin/movimientos">
    <div class="flex flex-col items-center">
      <div
        class="bg-[#FFC20E] rounded-xl size-10 flex justify-center items-center"
      >
        <img class="size-8" src="/svg/arrows.svg" alt="Movimientos" />
      </div>

      <h2 class="text-white text-xs">Movimientos</h2>
    </div>
  </a>

  <a href="/admin/productos">
    <div class="flex flex-col items-center">
      <div
        class="bg-[#FFC20E] rounded-xl size-10 flex justify-center items-center"
      >
        <img class="size-8" src="/svg/facturas.svg" alt="Facturas" />
      </div>

      <h2 class="text-white text-xs">Facturas</h2>
    </div>
  </a>
</section>
